
/* header */
*{
    margin:0;
    padding:0;
    
}

#content{
    

      background: 
	radial-gradient(at var(--mouse-x) var(--mouse-y), rgba(251,73,32,1), rgba(239,239,23,0.46)),
	radial-gradient(circle at 63% 111%, rgba(0,255,255,1), rgba(171,243,137,1));

}



#wrapper {
    height: 70vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    padding-bottom: 150px;

    
    
  }
  
  #header {
    /* Controls how far out the cursor goes */
    width: 48ch; 
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    /* cursor color */
    color: rgb(248, 245, 244);  
    
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent;
      
    }
  }



#header-text{
    font-family: 'Pixelify Sans', sans-serif;
    /* color: rgb(134, 198, 133);     */
    color: rgb(255, 242, 239);    
    
}


/* header */

/* about  */

#about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 10%;
    
}

#about-h1{

    grid-column: 1/2;
    grid-row: 1;
    padding: 10px;
    font-size: 2.2vw;
    padding-left: 18%;
    margin-top: auto;
    margin-bottom: 0.05%;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);

}

#me-img{
    width: 64%;
    height: auto;
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#about-text{
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10%;
    display: block;
    font-family: 'Roboto', sans-serif;
    
    
}

/* about  */


/* projects */

#projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 1.3fr 1.3fr;
    gap: 10px;

}

#projects-h1{
    grid-column: 1/2;
    grid-row: 1;
    padding: 10px;
    font-size: 2.2vw;
    padding-left: 15%;
    margin-top: auto;
    margin-bottom: 0.05%;
    font-family: 'Roboto', sans-serif;
    
    color: rgb(255, 242, 239);
    

}

/* rails project */

#rails-img, #rails-project{
    width: 85%;
    height: auto;
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#rails-project{
    width: 85%;
    height: 65%;
    overflow: hidden;
    margin: 0 auto;
}

#rails-img{
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

#rails-project:hover img {
    transform: scale(1.05);
}

#rails-h2{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 0.005%;
    font-family: 'Roboto', sans-serif;
}

/* rails project */

/* another project */

#another-img, #another-project{
    width: 85%;
    height: auto;
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#another-project{
    width: 85%;
    height: 65%;
    overflow: hidden;
    margin: 0 auto;
}

#another-img{
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

#another-project:hover img {
    transform: scale(1.05);
}

#another-h2{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 0.005%;
    font-family: 'Roboto', sans-serif;
}

/* another project */




/* projects */

/* Contact */

#contact{
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    
}

#contact-h1{
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    font-size: 2vw;
    text-align: center;
    /* color:rgb(248, 91, 91); */
    font-family: 'Roboto', sans-serif;

}


#contact img {
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in-out;
    
}

#git-img {
    grid-column: 1;
    grid-row: 2;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: 0.01%;
}

#git-img:hover img{
    transform: scale(1.09);
}

#linked-img{
    grid-column: 2;
    grid-row: 2;
    height: 108px;
    width: 108px;
    margin-left: auto;
    margin-right: auto;
}

#linked-img:hover img{
    transform: scale(1.09);
}

#mail-img{
    grid-column: 3;
    grid-row: 2;
    height: 100px;
    width: 100px;
    margin-left: 0.01%;
    margin-right: auto;
    
}

#mail-img:hover img{
    transform: scale(1.09);
}

/* Contact */

/* nav */

li {
    cursor: pointer;
  }

li:hover {
  text-decoration: underline;
}

/* nav */

