
@font-face {  
    font-family: "Eurostile";  
    src: url(fonts/EurostileLTStd.eot); /* IE */  
    src: local("Eurostile"), url(fonts/EurostileLTStd.otf) format("opentype"); /* non-IE */  
  } 

/* header */
*{
    margin:0;
    padding:0;
    
    
}

body {
    max-width: 100%;
    overflow-x: hidden;
    
}


#wrapper {
    height: 70vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    
    padding-top: 200px;
    background-color: rgba(228, 233, 237, 0.254);
    
  }
  
  #header {
    /* Controls how far out the cursor goes */
    width: 48ch; 
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3em;
    /* cursor color */
    /* color: rgb(248, 245, 244);   */
    
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent;
      
    }
  }



#header-text{
    font-family: 'Pixelify Sans', sans-serif;
    color:rgba(110, 68, 235, 0.909);
    /* color: rgb(37, 37, 37);     */
    
}

#wiz-img{
    width:23%;
    margin-left: 60%
}


/* header */

/* about  */

#about-nav-tracker{
    height:10px;
    /* background-color: rgba(245, 227, 211, 0.394); */
}

#about{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    grid-template-rows: 0.5fr 0.5fr;

    
    
    /* background-color: rgba(245, 227, 211, 0.394); */


    
}

#about-h1{

    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 10px;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0.05%;
    font-family: 'Montserrat', sans-serif;
    /* color:rgba(105, 179, 88, 0.909); */
    color:rgba(69, 18, 221, 0.909);

   
    

}

#me-img{

    width: 60%;
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    margin-left: 15%;
    /* margin-bottom: 20%; */

    

    
    
    display: block;


    
}

#about-name{
    
    font-size: 1.7vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.001%;
    /* color:rgba(38, 87, 27, 0.909) */
    color:rgba(18, 29, 132, 0.909);


}



#about-text{
    grid-column: 2;
    grid-row: 2;
    color:rgb(18, 18, 19);
    font-size: 1.6vw;
    margin-right: 7%;
    display: block;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    height: 85%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 7%;

    border-width: thin;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

/* about  */

/* projects*/



#proj{

    display: grid;
    gap: 10px;
    grid-template-rows: 0.3fr 2fr 2fr 2fr 2fr 2fr;
    place-items: center;
    background-color: rgba(218, 225, 230, 0.254);
    


}

#proj-h{

    font-family: 'Montserrat', sans-serif;
    color:rgba(69, 18, 221, 0.909);

}

/* compiler */

#proj-compiler{

    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 0.2fr;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255);

    

}

#proj-compiler-img{


    width: 580px;
    grid-column: 1;
    grid-row: 1/ span 2; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#proj-compiler-h{

    font-size: 26px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    grid-column: 2;
    grid-row: 1;

    margin-left: 15px;

    color:rgb(104, 104, 107);



    

    
}

#proj-compiler-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    grid-column: 2;
    grid-row: 1;

    margin-right:15px;
    margin-left: 15px;


    padding: 5px;

    padding-top: 85px;
    
    
    color:rgb(104, 104, 107);

    

    

}

#comp-tech1, #comp-tech2, #comp-tech3{
    grid-column: 2;
    grid-row: 2; 

    margin-top:45px;

    width: 90px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    
    border-radius: 8px;
    border-style: solid;
    border-color: #92eac0;
    border-width: 3px;


    font-size: 16px;
    text-align: center;
    
    padding-top: 5px;
}

#comp-tech1{
    margin-left: 15px;
    width: 70px;
}

#comp-tech2{
    margin-left: 100px;
}

#comp-tech3{
    margin-left: 205px;
    width: 80px;
}

#button1, #button2{
    grid-column: 2;
    grid-row: 2; 

    margin-top: 120px;

    width: 100px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

}

#button1{
    margin-left: 15px;
    background-color: #747fe0;
    color: white;
}

#button1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.2s;
  }
  
#button1:hover{
    padding-right: 8px;
    padding-left:8px;
  }
  
#button1:hover:after {
    opacity: 1;
    
  }

#button2{
    color: #747fe0;
    background-color: white;
    margin-left: 140px;
    
}

#button2:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.2s;
  }
  
#button2:hover{
    padding-right: 8px;
    padding-left:8px;
  }
  
#button2:hover:after {
    opacity: 1;
    
  }
/* compiler */

/* bsf */

#proj-bsf{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 0.2fr;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255);
}

#proj-bsf-img{
    width: 560px;
    grid-column: 1;
    grid-row: 1/ span 2; 
    padding-right: 10px;
    padding-left: 15px;

}

#proj-bsf-h{
    font-size: 26px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    grid-column: 2;
    grid-row: 1;
    margin-left: 15px;
    color:rgb(104, 104, 107);
}

#proj-bsf-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    grid-column: 2;
    grid-row: 1;
    margin-right:15px;
    margin-left: 15px;
    padding: 5px;
    padding-top: 85px;
    color:rgb(104, 104, 107);
    line-height: 30px;
}

#bsf-tech1, #bsf-tech2, #bsf-tech3{
    grid-column: 2;
    grid-row: 2; 
    margin-top:45px;
    width: 90px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: #92eac0;
    border-width: 3px;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

#bsf-tech1{
    margin-left: 15px;
    width: 70px;
}

#bsf-tech2{
    margin-left: 100px;
}

#bsf-tech3{
    margin-left: 205px;
    width: 60px;
}

#bsf-button{
    grid-column: 2;
    grid-row: 2; 

    margin-top: 120px;

    width: 100px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

}

#bsf-button{
    margin-left: 15px;
    background-color: #747fe0;
    color: white;
}

#bsf-button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.2s;
  }
  
#bsf-button:hover{
    padding-right: 8px;
    padding-left:8px;
  }
  
#bsf-button:hover:after {
    opacity: 1;
    
  }

/* bsf */

/* rails */

#proj-rails{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 0.2fr;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

#proj-rails-img{
    width: 560px;
    grid-column: 1;
    grid-row: 1/ span 2; 
    
    padding-right: 10px;
    padding-left: 25px;

}

#proj-rails-h{
    font-size: 26px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    grid-column: 2;
    grid-row: 1;
    margin-left: 15px;
    color:rgb(104, 104, 107);
}

#proj-rails-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    grid-column: 2;
    grid-row: 1;
    margin-right:15px;
    margin-left: 15px;
    padding: 5px;
    padding-top: 85px;
    color:rgb(104, 104, 107);
    line-height: 30px;
}

#rails-tech1, #rails-tech2, #rails-tech3{
    grid-column: 2;
    grid-row: 2; 
    margin-top:45px;
    width: 90px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: #92eac0;
    border-width: 3px;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}

#rails-tech1{
    margin-left: 15px;
    width: 120px;
}

#rails-tech2{
    margin-left: 150px;
    width: 70px;
}

#rails-tech3{
    margin-left: 235px;
    width: 70px;
}

/* rails */


/* projects */

#projects-nav-tracker{
    height:85px;
    /* background-color: rgba(245, 227, 211, 0.394); */
}


/* Contact */

#contact{
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    background-color:rgba(216, 227, 252, 0.909);
    

    
}

#contact-h1{
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    margin-top: 15px;
    font-size: 1.4vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgba(18, 29, 132, 0.909);


    border: 1px solid #555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    border-radius: 20px;
    margin-bottom: 20px;


}


#contact img {
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in-out;
    
}

#git-img {
    grid-column: 1;
    grid-row: 2;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: 0.01%;
    margin-bottom: 10%;
}

#git-img:hover img{
    transform: scale(1.09);
}

#linked-img{
    grid-column: 2;
    grid-row: 2;
    height: 108px;
    width: 108px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

#linked-img:hover img{
    transform: scale(1.09);
}

#mail-img{
    grid-column: 3;
    grid-row: 2;
    height: 100px;
    width: 100px;
    margin-left: 0.01%;
    margin-right: auto;
    margin-bottom: 10%;
    
}

#mail-img:hover img{
    transform: scale(1.09);
}

/* Contact */

/* nav */

li {
    cursor: pointer;
  }

li:hover {
  text-decoration: underline;
}

/* nav */

/* phone responsive */


@media screen and (max-width: 1200px) {
    
    #header{
        
        font-size: 70%;
        width: 51ch; 
        
    }

    #wrapper{
        padding-top: 45%;
        height: 30vh;
        padding-bottom: 50%;
        
    }

    #wiz-img{
        width:300px;
        margin-left: auto;
        
        margin-top: 20px;
        
    }

    #about-nav-tracker{
        height: 80px;

    }


    #about-h1{
        font-size: 30px;
    }
    
    #about{
        
        gap: 10px;
        grid-template-rows: 1fr 7fr ;
        grid-template-columns: 2fr;
        padding:1px
        
    }

    #about-name{
        font-size: 25px;
        
    }

    #about-text{
        font-size: 23px;
        padding-bottom:70px;
        margin-left:0.5%;
        margin-right:3%;
        grid-column: 2;
        grid-row:2;
        
        
    }

    #me-img{
        grid-column: 1 / span 2;
        grid-row: 3;
        width: 80%;
        margin-left:5%;
    }

    #about-text{
        grid-column: 2;
        grid-row:2;
    }

    /* compiler - proj2  */

    #proj-compiler, #proj-bsf, #proj-rails{
        width: 90%;
    }


    #proj-compiler-p, #proj-bsf-p, #proj-rails-p{
        grid-column: 1/ span 2 ;    
        
        
    }
    
    #proj-compiler-h, #proj-bsf-h, #proj-rails-h{
        grid-column: 1/ span 2 ;
    }

    #proj-compiler-img, #proj-bsf-img, #proj-rails-img{
        opacity: 0;
        width: 0%;
    }

    #comp-tech1, #comp-tech2, #comp-tech3, #bsf-tech1, #bsf-tech2, #bsf-tech3, 
    #rails-tech1, #rails-tech2, #rails-tech3{
        grid-column: 1/ span 2 ;
        
    }

    #button1, #button2, #bsf-button{
        grid-column: 1/ span 2 ; 
        
    }

   


    /* compiler proj 2  */


    #contact-h1{
        font-size: 20px;
        grid-column: 1 / span 3;
    }


    #git-img{
        width:80px;
        height:80px;
    }

    #linked-img{
        width:88px;
        height:88px;
    }

    #mail-img{
        width:80px;
        height:80px;
    }




}

/* phone responsive */
