
/* header */
*{
    margin:0;
    padding:0;
    
    
}

body {
    max-width: 100%;
    overflow-x: hidden;
    
}


#wrapper {
    height: 70vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    
    padding-top: 200px;
    /* background-color: rgba(175, 230, 173, 0.254); */
    /* background-image: linear-gradient(red, rgb(255, 255, 0)); */
    background-color: rgba(245, 227, 211, 0.394);


    
  }
  
  #header {
    /* Controls how far out the cursor goes */
    width: 48ch; 
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3em;
    /* cursor color */
    /* color: rgb(248, 245, 244);   */
    
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent;
      
    }
  }



#header-text{
    font-family: 'Pixelify Sans', sans-serif;
    color: rgb(37, 37, 37);    
    
}

#wiz-img{
    width:23%;
    margin-left: 60%
}


/* header */

/* about  */

#about-nav-tracker{
    height:10px;
    background-color: rgba(245, 227, 211, 0.394);
}

#about{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    grid-template-rows: 0.5fr 0.5fr;
    
    background-color: rgba(245, 227, 211, 0.394);


    
}

#about-h1{

    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 10px;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0.05%;
    font-family: 'Montserrat', sans-serif;
    /* color:rgb(43, 39, 175); */
    color:rgba(105, 179, 88, 0.909);
    /* color:rgb(31, 31, 33); */
   
    

}

#me-img{

    width: 60%;
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    margin-left: 15%;
    /* margin-bottom: 20%; */

    
    
    display: block;


    
}

#about-name{
    
    font-size: 1.7vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.001%;
    

}



#about-text{
    grid-column: 2;
    grid-row: 2;
    color:rgb(18, 18, 19);
    font-size: 1.6vw;
    margin-right: 7%;
    /* margin-bottom: 16%; */
    display: block;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    height: 85%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 7%;

    border-style: solid;
    border-width: thin;
    

}

/* about  */


/* projects */

#projects-nav-tracker{
    height:85px;
    background-color: rgba(245, 227, 211, 0.394);
}

#projects{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 0.2fr 5fr 7fr;
    gap: 10px;
    /* background-color: rgba(247, 245, 234, 0.837) */
    /* background-color: rgba(245, 227, 211, 0.394); */


}

#projects-h1{
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    font-size: 1.9vw;
    
    text-align: center;
    margin-top: auto;
    margin-bottom: 4%;
    color:rgba(105, 179, 88, 0.909);
    font-family: 'Roboto', sans-serif;
    
    

}

/* rails project */

#rails-img, #rails-project{
    grid-column: 1;
    grid-row: 2;
    /* padding: 20px; */
    display: block;
    border-radius: 40px;
    
}

#rails-project{
    width: 430px;
    overflow: hidden;
    margin: 0 auto;
    
}

#rails-img{
    width: 95%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border: 2px solid #555;
    
}

#rails-project:hover img {
    transform: scale(1.05);
}

#rails-h2{
    font-size: 1.3vw;
    text-align: center;
    margin-bottom: 0.005%;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

/* rails project */

/* retail */

#rails2-img, #rails2-project{
    grid-column: 2;
    grid-row: 2;
    /* padding: 20px; */
    display: block;
    border-radius: 40px;
}

#rails2-project{
    width: 430px;
    overflow: hidden;
    margin: 0 auto;
}

#rails2-img{
    width: 95%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border: 2px solid #555;

}

#rails2-project:hover img {
    transform: scale(1.05);
}

#rails2-h2{
    font-size: 1.3vw;
    text-align: center;
    margin-bottom: 0.005%;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

/* retail */

/* BSF */
#rails3-img, #rails3-project{
    grid-column: 3;
    grid-row: 2;
    padding: 20px;
    display: block;
    border-radius: 40px;
}

#rails3-project{
    width: 430px;
    overflow: hidden;
    margin: 0 auto;
}

#rails3-img{
    width: 95%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

#rails3-project:hover img {
    transform: scale(1.05);
}

#rails3-h2{
    font-size: 1.3vw;
    text-align: center;
    margin-bottom: 0.005%;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
/* BSF */

/* projects */

/* Contact */

#contact{
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    background-color: rgba(245, 227, 211, 0.394);

    
}

#contact-h1{
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    font-size: 1.4vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:rgba(105, 179, 88, 0.909);



}


#contact img {
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in-out;
    
}

#git-img {
    grid-column: 1;
    grid-row: 2;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: 0.01%;
}

#git-img:hover img{
    transform: scale(1.09);
}

#linked-img{
    grid-column: 2;
    grid-row: 2;
    height: 108px;
    width: 108px;
    margin-left: auto;
    margin-right: auto;
}

#linked-img:hover img{
    transform: scale(1.09);
}

#mail-img{
    grid-column: 3;
    grid-row: 2;
    height: 100px;
    width: 100px;
    margin-left: 0.01%;
    margin-right: auto;
    
}

#mail-img:hover img{
    transform: scale(1.09);
}

/* Contact */

/* nav */

li {
    cursor: pointer;
  }

li:hover {
  text-decoration: underline;
}

/* nav */

/* phone responsive */

@media screen and (max-width: 800px) {
    
    #header{
        
        font-size: 70%;
        width: 51ch; 
        
    }

    #wrapper{
        padding-top: 45%;
        height: 30vh;
        padding-bottom: 50%;
        
    }

    #wiz-img{
        width:300px;
        margin-left: auto;
        
        margin-top: 20px;
        
    }

    #about-nav-tracker{
        height: 80px
    }

    #about-h1{
        font-size: 30px;
    }
    
    #about{
        
        gap: 10px;
        grid-template-rows: 1fr 7fr ;
        grid-template-columns: 2fr;
        padding:1px
        
    }

    #about-name{
        font-size: 25px;
        
    }

    #about-text{
        font-size: 23px;
        padding-bottom:50px;
        margin-left:0.5%;
        margin-right:3%;
        grid-column: 2;
        grid-row:2;
        
        
    }

    #me-img{
        grid-column: 1 / span 2;
        grid-row: 3;
        width: 80%;
        margin-left:5%;
    }

    #about-text{
        grid-column: 2;
        grid-row:2;
    }

    #projects{
        gap: 10px;
        grid-template-rows: 1fr 3fr 3fr 3fr;
        /* grid-template-columns: 1fr; */
        width: 100%;
        padding-bottom: 50%;
        
        
    }

    #projects-h1{
        font-size: 30px;
        grid-column: 2;
        margin-bottom: 30%;
        
    }

    #rails-h2{
        font-size: 18px;
        margin-bottom: 5%;
        
    }

    #rails-project{
        width: 100%;
        grid-column: 1 / span 3;
        padding: 0px;
        

    }

    #rails-img{
        padding: 0px;
        width: 95%;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    /* retail */

    #rails2-h2{
        font-size: 18px;
        margin-top: 5%;
        margin-bottom: 5%;
        
    }

    #rails2-project{
        width: 100%;
        grid-column: 1 / span 3;
        grid-row: 3;
        padding: 0px;
        

    }

    #rails2-img{
        padding: 0px;
        width: 95%;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    /* BSF */

    #rails3-h2{
        font-size: 18px;
        margin-top: 5%;
        margin-bottom: 5%;
        
    }

    #rails3-project{
        width: 100%;
        grid-column: 1 / span 3;
        grid-row: 4;
        padding: 0px;
        

    }

    #rails3-img{
        padding: 0px;
        width: 95%;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }




    #contact-h1{
        font-size: 20px;
    }


    #git-img{
        width:80px;
        height:80px;
    }

    #linked-img{
        width:88px;
        height:88px;
    }

    #mail-img{
        width:80px;
        height:80px;
    }




}

/* phone responsive */
